{% extends 'layout.njk' %}

{% block head %}
        <title>Receitas - Foodfy</title>
{% endblock %}

{% block menu %}
    <a class="link" href="/about">Sobre</a>
    <a class="link active" href="/recipes">Receitas</a>
{% endblock %}

{% block content %}
    <div class="dishes">

        {% for dish in dishes %}
        <div class="dish" id="{{ loop.index }}">
            <img src="{{dish.image}}" alt="Imagem {{dish.title}}">
            <h1>{{dish.title}}</h1>
            <p>{{dish.author}}</p>
        </div>
        {% endfor %}
    
    </div>

{% endblock %}