{% extends 'layout.njk' %}

{% block content %}
    <div class="not-found">
        <h2>Ops! Parece que essa página não foi encontrada</h2>
        <br/>
        Volte para a home, e tente novamente
    </div>
{% endblock %}